%CenterAbsoluteElement {
 position: absolute;
 top: 50%;
 left: 50%;
 transform: translate(-50%, -50%);
}
%FlexDefault{
 display: flex;
 align-items: center;
}

%FlexRowCenter{
 display: flex;
 justify-content: center;
 align-items: center;
}
%FlexRowBetween{
 display: flex;
 justify-content: space-between;
 align-items: center;
}

%Ease {
  @include prefix(transition , all 0.35s ease-in-out);
}