
%default-item{
 background-color: white;
 padding: 20px;
 border-radius: $border-radius-sm;
}
$percentages : (
percentage-1 : (
  colors : #287AFB ,
  bg : rgba(40, 122, 251, 0.25)
),
percentage-2 : (
  colors : #0AB28B ,
  bg : rgba(10, 178, 139, 0.25)
),
percentage-3 : (
  colors : $primary-light-color,
  bg : rgba(251, 163, 13, 0.25)
),
percentage-4 : (
  colors :#E24A34,
  bg : rgba(226, 74, 52, 0.25)
)
);
//sec 1 => page dashboard "wedgets"
.wedgits {
 .main-wedgets {
  display: grid;
  grid-template-columns: repeat( auto-fit, minmax(50%, 1fr) );

  .left-wedgets {
   display: grid;
   grid-template-columns: repeat( auto-fit, minmax(250px, 1fr) );
   width: 100%;
   position: relative;
   gap: 2rem;
   .item-wedgets{
    @extend %FlexRowBetween;
    @extend %default-item;


    p,h4{
      @extend %FlexRowBetween;
     padding: 1rem 0;
     font-weight: $font-weight-medium;
    
    }
    img{
     margin-top: 5.5rem;
    }
    .percentage{
      @extend %FlexRowBetween;
      width: 8rem;

      padding: 1rem;
      border-radius: $border-radius-sm;
      margin-top: 0.8rem;
      svg{
        width: 1.5rem;
        margin: 0.2rem 0;
      }
    }
    @each $item , $value in $percentages {
      .#{$item}{
        color: map-get($value , colors );
        background: map-get($value , bg );
      }
     }
    }
    

   }
   
  }
//right wedget 
  .right-wedgets {
   @extend %default-item;
   margin-left: 2rem;
   width: calc(100% - 2rem) ;

   h4{
    padding: 1rem 0;
    font-weight: $font-weight-medium;
   }
   p{
    padding: 0.5rem 0;
    color: $info-color;
    font-weight: $font-weight-regular;
   }
   .item-right-wedgets{
    @extend %FlexRowBetween;
    margin: 1.5rem 0;
    border:0.2rem solid $danger-light-color ;
    border-radius:$border-radius-sm ;
    padding: 1.5rem 2.5rem;
    h5 , p{
     padding: 0.7rem 0;
    }
   }

  }
 }
//sec 2 => page dashboard "Traffic overview"
.traffic-overview{
  @extend %default-item;
  .header-overview{
    @extend %FlexRowBetween;
    flex-wrap: wrap;
    padding: 1rem 0;
    label{
      font-size: 1.7rem;
      margin: 14px;
    }
  }
  .item-about{
    padding: 2rem;
    border-radius:$border-radius-sm ;
    h3 , p{
      margin: 1rem;
    }
    span{
      font-size: 1rem;
    }
    p{
      font-size: 2.4rem ;
    }
  }
  .daily ,.hourly{
    margin: 20px 60px;
    @include for-tablet-landscape-up{
      margin: 20px 0;
    }
    @include for-desktop-up{
      margin: 20px 20px;
    }
  }
  .daily{
    background: rgba(10, 178, 139, 0.2);
    color:#0AB28B ;
  }
  .hourly{
    background: rgba(40, 122, 251, 0.2);
    color: #287AFB;
  }

  .chart{
    margin: 20px 0;
  }

}
canvas{
  width: 80px;
}