/* (--1--) mixin responsive */
/* (--2--) mixin circle background*/
/* (--3--) prefix*/
/* (--4--) absolute position all sides */
/* (--5--) absolute position center*/
/* (--6--) absolute position vertically center*/
/* (--7--) absolute position vertically center*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
.topbar .main-topbar .box .right-topbar .account, .topbar .main-topbar .box .right-topbar, .input {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}

.wedgets-analytics .left-wedgets .counter, .wedgets-analytics .left-wedgets .timer {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -moz-justify-content: center;
  -ms-justify-content: center;
  -o-justify-content: center;
  justify-content: center;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}

.main-vps-serveses .body-vbs .item-vbs, .main-vps-serveses .head-vps, .traffic-overview .header-overview, .wedgits .right-wedgets .item-right-wedgets, .wedgits .left-wedgets .item-wedgets .percentage, .wedgits .left-wedgets .item-wedgets p, .wedgits .left-wedgets .item-wedgets h4, .topbar .main-topbar .box {
  -webkit-display: flex;
  -moz-display: flex;
  -ms-display: flex;
  -o-display: flex;
  display: flex;
  -moz-justify-content: space-between;
  -ms-justify-content: space-between;
  -o-justify-content: space-between;
  justify-content: space-between;
  -moz-align-items: center;
  -ms-align-items: center;
  -o-align-items: center;
  align-items: center;
}

.sidehide .arrow svg, .sidehide .links p, .sidehide .logo img, .sidebar .arrow svg, .sidebar .links p, .sidebar .logo, .sidebar, .sub-container-sm, .sub-container, .container-inline-sm, .container-inline, .btn {
  transition: all 0.35s ease-in-out;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-size: 62.5%;
}

/* Preferred box-sizing value */
*, *::after, *::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

body {
  box-sizing: inherit;
  font-weight: 500;
  background-color: #F5F6FA;
  font-family: "Poppins", sans-serif;
}

ul, menu, ol {
  list-style: none;
}

body, button, h1, h2, h3, h4, h5, h6, input, nav, select, textarea, ul, ol, dl {
  margin: 0;
  padding: 0;
}

a, button, input, select, textarea {
  background: none;
  color: inherit;
  border: none;
  text-transform: none;
  text-decoration: none;
}
a:focus, button:focus, input:focus, select:focus, textarea:focus {
  outline: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a, button {
  cursor: pointer;
}

h1, h2, h3, h4, h5, h6, .h1, .h2, .h3, .h4, .h5, .h6 {
  font-weight: 700;
  line-height: 1.1;
}

h1, .h1 {
  font-size: 5rem;
}

h2, .h2 {
  font-size: 4rem;
}

h3, .h3 {
  font-size: 3rem;
}

h4, .h4 {
  font-size: 2rem;
}

h5, .h5 {
  font-size: 1.8rem;
}

h6, .h6 {
  font-size: 1.7rem;
}

.h7 {
  font-size: 1.3rem;
}

p, a, button {
  font-size: 1.7rem;
}

.black {
  color: black;
}

.white {
  color: #ffffff;
}

.info {
  color: #A6A6A6;
}

.primary {
  color: #FBA30D;
}

.secound {
  color: #2A2E33;
}

.weight-medium {
  font-weight: 600;
}

.weight-bold {
  font-weight: 700;
}

.weight-black {
  font-weight: 900;
}

.space-section {
  margin: 35px 0;
}

.btn {
  padding: 10px 35px;
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 1.7rem;
  border-radius: 1rem;
  text-transform: capitalize;
  margin: 10px;
}
.btn__primary {
  background-color: #FBA30D;
  text-align: center;
  color: #ffffff;
  border: 1px solid #FBA30D;
  width: auto;
}
.btn__primary:hover {
  background-color: white !important;
  border: 1px solid #FBA30D !important;
  color: #FBA30D !important;
}
.btn__secound {
  background-color: white;
  text-align: center;
  border: 1px solid #FBA30D;
  color: #FBA30D;
}
.btn__secound:hover {
  background-color: #FBA30D !important;
  border: 1px solid #ffffff !important;
  color: #ffffff !important;
}

.three-buttons {
  background-color: #F5F6FA;
  padding: 8px;
  border-radius: 2rem;
}
.three-buttons button {
  margin: 4px;
}

.input {
  padding: 15px 20px;
  border-radius: 1rem;
}
.input__search {
  background-color: #F5F6FA;
  color: #A6A6A6;
  width: 50rem;
}
.input__search svg {
  margin: 0 10px 5px 10px;
  font-size: 2rem;
}
.input__search input {
  width: 100%;
  padding: 10px;
}
.input__search input::-moz-placeholder {
  font-size: 1.9rem;
  color: #A6A6A6;
}
.input__search input:-ms-input-placeholder {
  font-size: 1.9rem;
  color: #A6A6A6;
}
.input__search input::placeholder {
  font-size: 1.9rem;
  color: #A6A6A6;
}

.container {
  max-width: 160rem;
  margin: 0 auto;
  position: relative;
}

.container-inline {
  margin-inline: 330px 40px;
}
@media (max-width: 768px) {
  .container-inline {
    margin-inline: 15px 15px;
  }
}

.container-inline-sm {
  margin-inline: 150px 40px;
}
@media (max-width: 768px) {
  .container-inline-sm {
    margin-inline: 15px 15px;
  }
}

.sub-container {
  margin-inline: 330px 40px;
  margin-block: 130px 40px;
}
@media (max-width: 768px) {
  .sub-container {
    margin-inline: 15px 15px;
  }
}

.sub-container-sm {
  margin-inline: 150px 40px;
  margin-block: 130px 40px;
}
@media (max-width: 768px) {
  .sub-container-sm {
    margin-inline: 15px 15px;
  }
}

.sidebar {
  background-color: #ffffff;
  box-shadow: 0px 4px 8px rgba(45, 45, 45, 0.16);
  position: fixed;
  left: 0;
  bottom: 0;
  height: 100vh;
  width: 300px;
  z-index: 100;
  padding: 20px 15px;
}
.sidebar .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: transparent;
  padding: 15px 0;
  height: 144px;
}
.sidebar .links {
  margin: 20px 0;
}
.sidebar .links .route {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: 1rem;
  padding: 15px 25px;
  margin: 20px 0;
}
.sidebar .links p {
  color: #A6A6A6;
  margin-top: 10px;
}
.sidebar .links svg {
  font-size: 3rem;
  margin-right: 10px;
  color: #A6A6A6;
}
.sidebar .links .active {
  background-color: #FBA30D;
}
.sidebar .links .active p {
  color: white;
}
.sidebar .links .active svg {
  color: #ffffff;
}
.sidebar .arrow {
  position: absolute;
  cursor: pointer;
  top: 40px;
  right: -16px;
  background-color: #FBA30D;
  padding: 5px;
  border-radius: 50%;
}
.sidebar .arrow svg {
  color: white;
}

.sidehide {
  width: 120px;
}
.sidehide .logo {
  height: 144px;
}
.sidehide .logo img {
  width: 100px;
}
.sidehide .links p {
  width: 0;
  opacity: 0;
  visibility: hidden;
}
.sidehide .links .route {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.sidehide .links .route svg {
  margin-right: 0;
}
.sidehide .arrow svg {
  transform: rotate(180deg);
}

.topbar {
  background-color: #ffffff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 105px;
  z-index: 99;
}
.topbar .main-topbar .box {
  height: 105px;
}
.topbar .main-topbar .box .right-topbar {
  gap: 0 4rem;
}
.topbar .main-topbar .box .right-topbar .notification {
  background-color: #F5F6FA;
  position: relative;
  border-radius: 50%;
  width: 5rem;
  height: 5rem;
  cursor: pointer;
}
.topbar .main-topbar .box .right-topbar .notification img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.topbar .main-topbar .box .right-topbar .account {
  gap: 0 2rem;
}
.topbar .main-topbar .box .right-topbar .account img {
  width: 5rem;
  height: 5rem;
}
.topbar .main-topbar .box .right-topbar .account h6 {
  font-weight: 600;
  padding: 0.4rem 0;
  text-transform: capitalize;
}
.topbar .main-topbar .box .right-topbar .account p {
  color: #A6A6A6;
  text-transform: capitalize;
  font-size: 1.5rem;
}
.topbar .main-topbar .box .right-topbar .more .css-137ul40-MuiButtonBase-root-MuiIconButton-root:hover {
  background-color: transparent;
}
.topbar .main-topbar .box .right-topbar .more .MuiButtonBase-root a {
  margin: 20px;
}
.topbar .main-topbar .box .right-topbar .more img {
  width: 2.7rem;
  cursor: pointer;
}

.main-vps-serveses, .wedgets-analytics .right-wedgets, .wedgets-analytics .left-wedgets .counter, .wedgets-analytics .left-wedgets .timer, .traffic-overview, .wedgits .right-wedgets, .wedgits .left-wedgets .item-wedgets {
  background-color: white;
  padding: 20px;
  border-radius: 1rem;
}

.wedgits .left-wedgets {
  position: relative;
}
.wedgits .left-wedgets .item-wedgets {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.wedgits .left-wedgets .item-wedgets p, .wedgits .left-wedgets .item-wedgets h4 {
  padding: 1rem 0;
  font-weight: 600;
}
.wedgits .left-wedgets .item-wedgets img {
  margin-top: 5.5rem;
}
.wedgits .left-wedgets .item-wedgets .percentage {
  width: 8rem;
  padding: 1rem;
  border-radius: 1rem;
  margin-top: 0.8rem;
}
.wedgits .left-wedgets .item-wedgets .percentage svg {
  width: 1.5rem;
  margin: 0.2rem 0;
}
.wedgits .left-wedgets .item-wedgets .percentage-1 {
  color: #287AFB;
  background: rgba(40, 122, 251, 0.25);
}
.wedgits .left-wedgets .item-wedgets .percentage-2 {
  color: #0AB28B;
  background: rgba(10, 178, 139, 0.25);
}
.wedgits .left-wedgets .item-wedgets .percentage-3 {
  color: #FBA30D;
  background: rgba(251, 163, 13, 0.25);
}
.wedgits .left-wedgets .item-wedgets .percentage-4 {
  color: #E24A34;
  background: rgba(226, 74, 52, 0.25);
}
.wedgits .right-wedgets {
  height: 93%;
}
.wedgits .right-wedgets h4 {
  padding: 1rem 0;
  font-weight: 600;
}
.wedgits .right-wedgets p {
  padding: 0.5rem 0;
  color: #A6A6A6;
  font-weight: 400;
}
.wedgits .right-wedgets .item-right-wedgets {
  border: 0.2rem solid #D3D3FD;
  border-radius: 1rem;
  padding: 1.5rem 2.5rem;
  margin-block: 1rem;
}
.wedgits .right-wedgets .item-right-wedgets h5, .wedgits .right-wedgets .item-right-wedgets p {
  padding: 0.7rem 0;
}

.traffic-overview .header-overview {
  flex-wrap: wrap;
  padding: 1rem 0;
}
.traffic-overview .header-overview label {
  font-size: 1.7rem;
  margin: 14px;
}
.traffic-overview .item-about {
  padding: 2rem;
  border-radius: 1rem;
}
.traffic-overview .item-about h3, .traffic-overview .item-about p {
  margin: 1rem;
}
.traffic-overview .item-about span {
  font-size: 1rem;
}
.traffic-overview .item-about p {
  font-size: 2.4rem;
}
.traffic-overview .daily, .traffic-overview .hourly {
  margin: 20px 60px;
}
@media (max-width: 992px) {
  .traffic-overview .daily, .traffic-overview .hourly {
    margin: 20px 0;
  }
}
@media (max-width: 1200px) {
  .traffic-overview .daily, .traffic-overview .hourly {
    margin: 20px 20px;
  }
}
.traffic-overview .daily {
  background: rgba(10, 178, 139, 0.2);
  color: #0AB28B;
}
.traffic-overview .hourly {
  background: rgba(40, 122, 251, 0.2);
  color: #287AFB;
}
.traffic-overview .chart {
  margin: 20px 0;
}
.traffic-overview .mixed-chart .apx-legend-position-bottom {
  display: none;
}

.main-vps-serveses, .wedgets-analytics .right-wedgets, .wedgets-analytics .left-wedgets .counter, .wedgets-analytics .left-wedgets .timer, .wedgits .left-wedgets .item-wedgets, .wedgits .right-wedgets, .traffic-overview {
  background-color: white;
  padding: 2rem;
  border-radius: 1rem;
}

.wedgets-analytics .left-wedgets .timer {
  flex-direction: column;
}
.wedgets-analytics .left-wedgets .timer img {
  margin-block: 2rem;
}
.wedgets-analytics .left-wedgets .timer h4, .wedgets-analytics .left-wedgets .timer p {
  padding-block: 1rem;
}
.wedgets-analytics .left-wedgets .timer p {
  font-size: 2.1rem;
}
.wedgets-analytics .left-wedgets .timer span {
  color: #FBA30D;
}
.wedgets-analytics .left-wedgets .counter {
  height: calc(50% - 22px);
}
.wedgets-analytics .left-wedgets .counter img {
  padding: 2rem;
}
.wedgets-analytics .right-wedgets {
  height: calc(100% - 35px);
}
.wedgets-analytics .right-wedgets canvas {
  height: 300px !important;
  width: 100%;
}

.main-vps-serveses {
  margin: 0 2.2rem;
}
.main-vps-serveses .body-vbs .item-vbs {
  background-color: #F5F6FA;
  border-radius: 1rem;
  border: 1px solid #D3D3FD;
  padding: 20px 40px;
  margin: 10px;
}
.main-vps-serveses .body-vbs .item-vbs p {
  color: #868E96;
}
.main-vps-serveses .body-vbs .item-vbs h5 {
  font-weight: 500;
}
.main-vps-serveses .body-vbs .vbs-access a, .main-vps-serveses .body-vbs .vbs-info a {
  color: #FBA30D;
  text-decoration: underline;
}
.main-vps-serveses .body-vbs .vbs-access .root, .main-vps-serveses .body-vbs .vbs-info .root {
  background: rgba(10, 178, 139, 0.2);
  border-radius: 4px;
  color: #0AB28B;
  padding: 8px;
}/*# sourceMappingURL=main.css.map */